<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lywhxy.mapper.CustomerMapper">

<!--    List<Customer> selectCustomers(Customer customer);-->
    <select id="selectCustomers" parameterType="Customer" resultType="Customer">
        select * from customer
        <where>
            <if test="cust_name != null and cust_name != ''">
                and cust_name like concat("%", #{cust_name}, "%")
            </if>
            <if test="cust_level != null and cust_level != ''">
                and cust_level = #{cust_level}
            </if>
            <if test="cust_source != null and cust_source != ''">
                and cust_source = #{cust_source}
            </if>
        </where>
    </select>

<!--    int updateCustomer(Customer customer);-->
    <update id="updateCustomer" parameterType="Customer">
        update customer
        <set>
            <if test="cust_name != null and cust_name != ''">
                cust_name = #{cust_name},
            </if>
            <if test="cust_mobile != null and cust_mobile != ''">
                cust_mobile = #{cust_mobile},
            </if>
        </set>
        where cust_id = #{cust_id}
    </update>

<!--    int deleteCustomers(List<Integer> ids);-->
    <delete id="deleteCustomers" parameterType="List">
        delete  from customer
        where
        cust_id in
            <foreach open="(" collection="list" item="id" separator="," close=")">
                #{id}
            </foreach>
    </delete>

</mapper>